In [1]:
import pandas as pd
import sqlite3
import json

In [2]:
df_csv = pd.read_csv("ventas.csv")

print("Desde CSV:")
df_csv

Desde CSV:

   id_venta   producto  precio
0         1     Laptop    1200
1         2      Mouse      25
2         3    Teclado      80
3         4    Monitor     300
4         5  Audífonos     150

In [3]:
df_excel_ventas = pd.read_excel("datos.xlsx", sheet_name="Ventas")
df_excel_clientes = pd.read_excel("datos.xlsx", sheet_name="Clientes")

print("Desde Excel - Ventas:")
df_excel_ventas

Desde Excel - Ventas:

   id_venta   producto  precio
0         1     Laptop    1200
1         2      Mouse      25
2         3    Teclado      80
3         4    Monitor     300
4         5  Audífonos     150

In [4]:
df_json = pd.read_json("productos.json")

print("Desde JSON:")
df_json

Desde JSON:

    id  nombre    categoria
0  101  Laptop  Electrónica
1  102   Mouse   Accesorios

In [5]:
conn = sqlite3.connect("ventas.db")

df_sql = pd.read_sql("SELECT * FROM pedidos", conn)

conn.close()

print("Desde SQLite:")
df_sql

Desde SQLite:

   id_pedido  id_cliente       fecha  total
0          1           1  2024-01-15   1225
1          2           2  2024-01-16     25
2          3           1  2024-01-17    380

In [6]:
api_response = {
    "status": "success",
    "data": [
        {"id": 201, "producto": "Webcam", "stock": 15},
        {"id": 202, "producto": "Micrófono", "stock": 8}
    ]
}

df_api = pd.DataFrame(api_response["data"])

print("Desde API simulada:")
df_api

Desde API simulada:

    id   producto  stock
0  201     Webcam     15
1  202  Micrófono      8

In [7]:
dataframes = {
    "CSV": df_csv,
    "Excel Ventas": df_excel_ventas,
    "Excel Clientes": df_excel_clientes,
    "JSON": df_json,
    "SQLite": df_sql,
    "API": df_api
}

for fuente, df in dataframes.items():
    print(f"{fuente}: {df.shape}")

CSV: (5, 3)
Excel Ventas: (5, 3)
Excel Clientes: (3, 3)
JSON: (2, 3)
SQLite: (3, 4)
API: (2, 3)

In [8]:
with pd.ExcelWriter("evidencia_extraccion_dia2.xlsx", engine="openpyxl") as writer:
    df_csv.to_excel(writer, sheet_name="CSV_Ventas", index=False)
    df_excel_ventas.to_excel(writer, sheet_name="Excel_Ventas", index=False)
    df_excel_clientes.to_excel(writer, sheet_name="Excel_Clientes", index=False)
    df_json.to_excel(writer, sheet_name="JSON_Productos", index=False)
    df_sql.to_excel(writer, sheet_name="SQLite_Pedidos", index=False)
    df_api.to_excel(writer, sheet_name="API_Stock", index=False)